body {
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 16px 0px 0px 0px;
}

ul {
  padding: 0;
  margin: 0;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
  
.columns {
    list-style-type: none;
    width:100%;
}

li {
  width:100%;
    max-width: 380px;
    margin: 0 auto 14px auto;
}

.holder {
  min-height: 44px;
    color: #36394D;
    background-color: #fff;
    border: 1px dashed #CACCD6;
    border-radius: 2px;
    box-sizing: border-box;
  transition: box-shadow 150ms ease-in-out;

    
}

.answer {

  padding: 8px;
  border: 1px solid #CACCD6;
  transition: border-color 150ms ease-in-out,outline-color 150ms ease-in-out;
  margin: -1px;
  cursor: move;
  min-height: 44px;
    box-sizing: border-box;

}

.answer::before {
    content: '.. .. .. .. ..';
    width: 10px;
  height: 1.5rem;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: 10px;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #CACCD6;
  text-shadow: 1px 0 1px black;
  transition: color 150ms ease-in-out;
}

.answer:hover {
  border-color: #36394D;;
}

.answer:hover:before {
    color: #36394D;
}
  
.answer.dragElem {
    opacity: 0.4;
}


.over{
  box-shadow: 0px 0px 5px 0px #CACCD6;
}

.wrong {
  animation: oops 2s;
}

@keyframes oops {
  0% {box-shadow: 0px 0px 5px 0px red;}
  100% {box-shadow: none}
}

.list {
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
  }


  #instructions {
    padding: 1rem 3rem;
    overflow: auto;
  }

  #header {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    display: block;
    margin: 0 0 1.5rem;
  }

  #nav {
    width: 100%;
    margin: 0 auto;
    padding-top: 24px;
    font-size: 0;
    text-align: right;
}

.hint {

}

button#hint {

  background-color: #36394D;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  height: 40px;
  padding: 0 16px;
  font-family: Source Sans Pro;
  float: right;
}

.overlay {
  position: absolute;
  z-index: 10;
  background-color: #EEEEEECC;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
}

.modal {
  position: absolute;
  background-color: white;
  border: 1px;
  border-radius: 3px;
  padding: 20px;
  z-index: 12;
  max-width: 50%;
  box-shadow: 2px 2px 7px -1px #36394D;
}

button#close {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top:6px;
  right:6px;
  height:28px;
  width:28px
}

.header {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  display: block;
  margin: 0 0 1.5rem;
}

#winoverlay {
  display: none;
}

#correct {
  color: #379A49;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
}

.spacer {
  min-width: 10px;
}